html{
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-image: url("assets/57.jpg");
    background-size: cover;
    /*Photo by Jonathan Petersson from Pexels*/
    color: blanchedalmond;
}
button{
    border: 2px solid;
    border-color: #fb2544;
    border-radius: 10px;
    background: 0 0;
    box-shadow: none;
    color: #6636cc;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1;
    text-shadow: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
    cursor: pointer;
    font: optional;
    appearance: auto;
    writing-mode: inherit;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: .8em 1.6em .8em;
}

h1.random-no, .random-roll{
    background: rgba(91, 212, 216, 0.884);
    border-radius: 4px;
    padding: 5;
    justify-content: center;
    display: block;
    box-shadow: dimgrey;
    
}
h2{
    display: block;
    /* cursor: cell; */
    animation: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    color: rgba(32, 201, 201, 0.973);
    border: salmon;
    box-shadow: silver;
    align-self: center;
}

/* a{
    text-decoration: none;
    border: 2px solid;
    border-color: springgreen;
    font-size: 1.7rem;
    color: rgb(65, 85, 85);
    background-color: aquamarine;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    transition: 0.5s;
    overflow: hidden;
} */
/* a:hover{
    text-decoration: none;
    color: rgb(38, 43, 43);
    background-color: rgb(158, 243, 215);
    border-color: skyblue;
    overflow: hidden;
} */

.dropdown-menu{
    background-color: #212529;
}
.dropdown-menu a{
    color: #ffffff;
}

.btn-outline-success:hover{
    background-color: #fb2544;
    border-color: #fb2544;
}

.btn-outline-success{
    border-color: #fb2544;
    color: #fb2544;
}

span{
    text-decoration: wavy;
    font-size: 2rem;
}
li{
    border: orchid;
    border-radius: 10px;
    
}
a{
    text-decoration: none;
}

#inputfield1{
    padding: 0.7rem;
    align-items: center;
    display: flex;
    margin:2rem 0;
    width: 60px;
    border: 2;
    border-radius: 10px;
    border-color: #fb2544;
    background-color: #ffffff;
}

#inputfield2, #inputfield3 {
    padding: 0.7rem;
    align-items: center;
    display: flex;
    margin: 2rem 0;
    width: 100px;
    border: 2;
    border-radius: 10px;
    border-color: #fb2544;
    background-color: #ffffff;
}
.result{
    display: flex;
    flex-direction: column;
}

#box {
    cursor: pointer;
    background: lightseagreen;
    width: 200px;
    padding: 40px;
    text-align: center;
    margin: 20px auto;
    color: lightyellow;
    font-weight: bold;
}
.nav1{
    display: flex;
    flex-direction: row;
    background-color: rgb(38, 43, 43);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
ul {
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}