html{
        scroll-behavior: smooth;
}

.tomioes_home{
    font-family: "Josefin Sans",sans-serif;
    position: inherit !important;
    top: auto !important;
    background: #e8eff5;
    background-position: center center;
    width: 100%;
    height: auto;
    background-attachment: inherit;
    z-index: 1;
}

body{
    color: #333;
    font-family: Karla,sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
    position: inherit !important;
    top: auto !important;
    display: block;
}

body, button, input, select, textarea {
    color: #333;
    font-family: Karla,sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.6;
}

*, *:before, *:after {
    box-sizing: inherit;
    box-sizing: border-box;
}

.posts-link {
    text-decoration: none;
}

.top_bar{
    padding: .8em 0;
    content: "";
    display: table;
    table-layout: fixed;
    color: #fff;
    background-color: rgb(32, 206, 245);
    font-weight: 400;
    text-transform: uppercase;
    width: 100%;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.6;
    box-shadow: -8px -8px 8px #ffffff9d;
    z-index: 4;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 500;
}

nav{
    display: block;
}

ul{
    margin-bottom: 0;
    list-style: disc;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.social_menu_container{
    box-sizing: inherit;
}

.social_menu{
    display: block;
    margin: 0 0 1.5em;
    padding: 0;
}

.twitter_icon {
    display: inline-block;
    margin: 0;
    line-height: 1;
    padding-left: .8em;
    padding-right: 0;
    padding: 0 .4em;
}

.fb_icon {
    display: inline-block;
    margin: 0;
    line-height: 1;
    padding-left: 0;
    padding-right: .8em;
    padding: 0 .4em;
}

.ig_icon {
    display: inline-block;
    margin: 0;
    line-height: 1;
    padding-left: 0;
    padding-right: .8em;
    padding: 0 .4em;
}

.git_icon {
    display: inline-block;
    margin: 0;
    line-height: 1;
    padding-left: 0;
    padding-right: .8em;
    padding: 0 .4em;
}

.logo{
    clear: none;
    display: inline-block;
    margin-right: .8em;
    vertical-align: middle;
    
}

a{
    color: #0d6efd;
    font-weight: 700;
    text-decoration: none;
    transition: .3s;
    background-color: transparent;
    cursor: pointer;
}

.site_title{
    clear: none;
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
    color: #333;
    -webkit-font-smoothing: antialiased;
    font-family: "Courier Prime",monospace;
    font-size: 2.625rem;
}

.head{
    text-align: center;
}

h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 600;
    color: #0d6efd;
}

h6{
    color: #000000;
}

.site_title a{
    color: #333;
    text-decoration: none;
    font-family: "Courier Prime",monospace;
}

.fab{
    color: ivory;
    font-size: large;
    text-shadow: 2px 2px 4px #000000;
}

.fab:hover{
    color: rgb(202, 201, 198);
}

.menu_toggle, input[type=button], input[type=reset], input[type=submit], .button{
    border: 2px solid;
    border-color: rgb(32, 206, 245);
    border-radius: 10px;
    background: 0 0;
    box-shadow: none;
    color: rgb(32, 206, 245);
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1;
    text-shadow: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
    cursor: pointer;
    font: optional;
    appearance: auto;
    writing-mode: inherit;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: .8em 1.6em .8em;
    border-radius: 2;
}

button:active, button:focus, input[type=button]:active, input[type=button]:focus, input[type=reset]:active, input[type=reset]:focus, input[type=submit]:active, input[type=submit]:focus, .button:active, .button:focus {
    border-color: #85cc36;
    box-shadow: none;
    color: #85cc36;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

.wf-active body, .wf-active button, .wf-active input, .wf-active select, .wf-active textarea {
    font-family: "Josefin Sans",sans-serif;
}

.fas{
    display: inline-block;
    margin-right: 5px;
    font-size: 16px;
    vertical-align: top;
    text-align: center;
    -moz-transition: color .1s ease-in 0;
    transition: inherit;
    -webkit-transition: color .1s ease-in 0;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.main_nav li {
    border-top: 0;
    display: inline-block;
    float: none;
}

.active{
    padding: .2em 0 .2em 2.4em;
    transition: opacity .4s;
    color: #333;
    opacity: .6;
   border-radius: 10px;
   padding-left: 2vh;
    padding-right: 2vh;
}

.main_nav a:hover {
    
    transition: opacity .4s;
    color: #333;
    opacity: .6;
     box-shadow: inset -8px -8px 8px #ffffff73, inset 8px 8px 8px rgba(94, 104, 121, .288);
   transform: scale(1.1);
   border-radius: 10px;
   padding-left: 2vh;
    padding-right: 2vh;
}

.main_nav a, .main_nav a:visited,  .main_nav a:active{
    color: #333;
    display: block;
    padding: .8em .4em;
    text-decoration: none;
}

.main_nav .current_page_item>a, .main_nav .current-menu-item>a, .main_nav .current_page_ancestor>a, .main_nav .current-menu-ancestor>a {
    color: #333;
    opacity: .5;
}

.custom-logo{
    max-width: 100%;
    max-height: 100px;
    height: auto;
    transition: .2s;
    transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
}

.custom-logo :hover{
    box-shadow:  0 0 3px #0a0a0a, 0 0 5px #0a0a0a;
}

.mainbod{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.accry{
    min-height: 60vh;
    color: #e8eff5;
    width: 70%;
    background-position: center;
    border-radius: 10px;
    box-shadow: -8px -8px 8px #ffffff9d, 8px 8px 8px rgba(94, 104, 121, .288);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    padding: 1.6em 0;
    margin-bottom: 5vh;
    margin-top: 5vh;
    text-decoration-color: #000000;
    transition: all 400ms;

    
}

.accry:hover{
    transform: scale(0.95);
    box-shadow: inset -8px -8px 8px #ffffff73, inset 8px 8px 8px rgba(94, 104, 121, .288);
}

.acchead{
    font-family: "Josefin Sans",sans-serif;
    color: rgb(255, 255, 255,.8);
    text-shadow: rgb(20, 22, 22);
    padding: 0 5%;
    box-shadow: inset -8px -8px 8px #ffffff73, inset 8px 8px 8px rgba(94, 104, 121, .288);
    margin: 15px;
    transition: all 400ms;
    border-radius: 10px;
}

.founder{
    font-family: "Josefin Sans",sans-serif;
    color: rgb(255, 255, 255,.8);
    text-shadow: rgb(20, 22, 22);
    padding: 0 5%;
    box-shadow: inset -8px -8px 8px #ffffff73, inset 8px 8px 8px rgba(94, 104, 121, .288);
    margin: 15px;
    height: 200px;
    background-image: url(img/white\ bg.png);
    background-size: cover;
    transition: all 400ms;
    border-radius: 10px;
}

.accpar{
    flex: 2;
    font-family: "Josefin Sans",sans-serif;
    color: rgb(255, 255, 255,.8);
    padding: 0 5%;
    box-shadow: inset -8px -8px 8px #ffffff73, inset 8px 8px 8px rgba(94, 104, 121, .288);
    margin: 15px;
    transition: all 400ms;
    border-radius: 10px;
}

.accpar:hover, .acchead:hover {
     box-shadow: -8px -8px 8px #ffffff9d, 8px 8px 8px rgba(94, 104, 121, .288);
    transform: scale(1.01);
}

.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 100%;
    background: #e03333;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 0.5s;
}

.back-to-top:hover {
    background: rgba(224, 51, 51, 0.659);
}

.hidden {
    opacity: 0%;
}

.back-to-top-icon {
    width: 1rem;
    height: 1rem;
    color: #7ac9f9;
}

.back-to-top-icon:hover {
    color: #20cef5;
}

@media screen and (max-width: 760px){
    .accry{
    min-height: 60vh;
    color: #e8eff5;
    width: 70%;
    background-position: center;
    border-radius: 10px;
    box-shadow: -8px -8px 8px #ffffff9d, 8px 8px 8px rgba(94, 104, 121, .288);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    padding: 1.6em 0;
    margin-bottom: 5vh;
    margin-top: 5vh;
    text-decoration-color: #000000;
    transition: all 400ms;

    
}

.accry:hover{
    transform: scale(1.10);
    box-shadow: inset -8px -8px 8px #ffffff73, inset 8px 8px 8px rgba(94, 104, 121, .288);
}

.accpar:hover, .acchead:hover {
    box-shadow: -8px -8px 8px #ffffff9d, 8px 8px 8px rgba(94, 104, 121, .288);
    transform: scale(0.95);
}

    .site_brandingwr{
        padding: 0 5%;
    width: 100%;
    display: block;
}

.site_branding{
    padding: 1.6em 0 0;
    position: sticky;
}

.site_title{
    font-family: "Courier Prime",monospace;
    font-weight: 400;
    font-style: normal;
}

.head{
    text-align: center;
}

.stwrapper{
    background-color: ivory;
    box-shadow:  8px 8px 8px rgba(94, 104, 121, .288);
    z-index: 2;
    opacity: .9;
    backdrop-filter: blur(.2rem);
}

.top_bar .description{
    width: 100%;
}

p {
    margin: .8em 0;
}

.main_nav{
    clear: both;
    display: block;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 700;
    padding: .8em 0 1.6em;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    content: "";
    display: table;
    table-layout: fixed;
}

button:hover, input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover, .button:hover {
    border-color: #85cc36;
    box-shadow: none;
    color: #85cc36;
}

.main_nav ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    flex-direction: column;
}

}

@media screen and (min-width: 761px){
    .accry{
    min-height: 60vh;
    color: #e8eff5;
    width: 70%;
    background-position: center;
    border-radius: 10px;
    box-shadow: -8px -8px 8px #ffffff9d, 8px 8px 8px rgba(94, 104, 121, .288);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    padding: 1.6em 0;
    margin-bottom: 5vh;
    margin-top: 5vh;
    text-decoration-color: #000000;
    transition: all 400ms;

    
}

.stwrapper {
    background: #e8eff5;
    max-width: 100%;
    width: 100%;
    z-index: 2;
    transition: .2s;
}

.site_brandingwr{
    margin-left: auto;
    margin-right: auto;
    max-width: 1040px;
    position: relative;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.top_bar{
    padding: .8em 0;
    content: "";
    display: table;
    table-layout: fixed;
}

.top_bar_wrapper{
    margin-left: auto;
    margin-right: auto;
    max-width: 1040px;
    padding: 0 10%;
    width: 100%;
}
.stwrapper{
    background-color: #e0ebf5;
    box-shadow:  8px 8px 8px rgba(94, 104, 121, .288);
    z-index: 2;
    opacity: .9;
    backdrop-filter: blur(.2rem);
}
.description{
    float: left;
    line-height: 26px;
    margin: 0;
    width: 50%;
}
.social_nav{
    text-align: right;
    float: right;
    width: 50%;
}
.head{
    display: block;
    text-align: left;
}
.site_branding{
    float: left;
    margin-right: 1.6em;
    min-width: 33%;
    padding: 1.6em 0;
}
.main_nav{
    display: block;
    float: right;
    text-align: right;
    margin-left: 1.6em;
    padding: 1.6em 0;
    position: relative;
    width: auto;
}
.menu_toggle{
    display: none;
}
.main_nav ul {
    display: flow-root;
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.custom-logo {
    clear: none;
    display: inline-block;
    margin-right: .8em;
    vertical-align: middle;
}
}
.top_bar_wrapper{
    width: 100%;
    padding: 0 5%;
}

.page-footer{
    color: lightsteelblue;
    background-color: lightsteelblue;
    box-shadow: -8px -8px 8px #ffffff9d
}

.footer-copyright{
    color: lightyellow;
}

.post-container{
    z-index: inherit;
}

