body{
    color: rgb(255, 255, 255);
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url("56.jpg");
    background-size: cover;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    color: goldenrod;
}
#message_el{
    font-style: italic;
}
button{
    border: 2px solid;
    border-color: goldenrod;
    border-radius: 10px;
    background: 0 0;
    box-shadow: none;
    color: goldenrod;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1;
    text-shadow: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
    cursor: pointer;
    font: optional;
    appearance: auto;
    writing-mode: inherit;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: .8em 1.6em .8em;
    margin: 0.2rem;
}
button:active, button:hover{
    border-color: #85cc36;
    box-shadow: none;
    color: #ffffff;
    cursor: pointer;
}
