.nav{
    display: flex;
    flex-direction: row;
    justify-items: center;
    background: teal;
    border-radius: 20px;
    padding: 5px;
}
.links{
    background-color: aqua;
    border-radius: 10px;
}