*{
    padding: 10px;
    margin: 0;
}

html {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-width: 400px;
}

body {
    background-size: cover;
    /*Photo by Jonathan Petersson from Pexels*/
    background-image: url("img/logo.png");
    background-size: cover;
    min-width: 400px;
}


button,
#input-el {
    border: 2px solid;
    border-top-color: #78dbd3;
    border-radius: 10px;
    border-bottom-color: #06fae6;
    box-shadow: none;
    color: #000000;
    font-weight: 700;
    font-size: 1rem;
    background-color: linen;
    letter-spacing: 1px;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
    appearance: auto;
    writing-mode: inherit;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(rgb(197, 56, 56), rgb(221, 41, 41));
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(221, 39, 39), rgb(226, 37, 37));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(241, 67, 67), rgb(17, 193, 236));
    border-image: initial;
    padding: .8em 1.6em .8em;
}
#delete-btn{
    color: red;
    background-color: pink;
}

#input-el:hover{
    cursor: text;
}
#input-el{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}
button{
    font-weight: bold;
}
button:hover{
    cursor: pointer;
}

h1.random-no,
.random-roll {
    background: rgba(91, 212, 216, 0.884);
    border-radius: 4px;
    padding: 5;
    justify-content: center;
    display: block;
    box-shadow: dimgrey;

}

h2 {
    display: block;
    cursor: cell;
    animation: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    color: rgba(201, 32, 173, 0.973);
    border: salmon;
    box-shadow: silver;
}

a  {
    text-decoration: none;
    border: 2px solid;
    border-color: rgb(248, 229, 247);
    color: rgb(65, 85, 85);
    background-color: mintcream;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    transition: 0.5s;
}

 a:hover {
    text-decoration: none;
    border-color: orchid;
    color: rgb(17, 101, 226);
    background-color: mistyrose;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    box-shadow: 2, 5, 0 rgba(226, 20, 116, 0.87), rgb(70, 56, 56);
}

span {
    text-decoration: mediumaquamarine;
    font-size: 2rem;
}

li {
    border: orchid;
    color: lightskyblue;
    border-radius: 10px;
    list-style-type: none;
   
}
/* ul li::marker{
    color: red;
    font-size: 1.5em;
} */

a {
    text-decoration: navajowhite;
}

#ul-el {
    color: rgb(66, 66, 54);
    font-weight: bold;
    margin: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    /* border: 2px solid;
    border-color: orchid;
    padding: 0px; */
}